In [1]:
import pandas as pd
import os
from PIL import Image

In [2]:
labels = ["DIESTRO", "ESTRO", "METAESTRO", "PROESTRO"]

In [7]:
# os.mkdir("dataset")
# os.mkdir("dataset/images")

In [3]:
images = []
for folder in labels:
    for image_name in os.listdir(folder):
        image = Image.open(os.path.join(folder, image_name))
        filename = "{}_{}".format(folder, image_name)
        image.save(os.path.join("dataset", "images", filename))
        images.append({"filename": filename, "label": folder})
df = pd.DataFrame(images)
df.head()

            filename    label
0  DIESTRO_142_4.jpg  DIESTRO
1  DIESTRO_143_4.jpg  DIESTRO
2  DIESTRO_144_4.jpg  DIESTRO
3  DIESTRO_145_4.jpg  DIESTRO
4  DIESTRO_150_4.jpg  DIESTRO

In [4]:
df.to_csv(os.path.join("dataset","name_images.csv"))